@charset "UTF-8";

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}
th{border: 1px solid black;}
td{border: 1px solid black;text-align: center;}

img{
    width: 100px;
}
.title{width: 500px;}
.right{text-align: right;height: 100px;}
.emty{height: 30px;}

span{font-weight: bold;}