@charset "UTF-8";

header{
    width: 400px;
    height: 100px;
    background-color: chocolate;
}

header h1{
    float: left;
    width: 200px;
    height: 100px;
}
header ul li{float: left;}

article{
    width: 400px;
    height: 150px;
    background-color: cadetblue;
}
section{
    width: 400px;
    height: 250px;
    background-color: brown;
}
aside{
    width: 400px;
    height: 100px;
    background-color: coral;
}
footer{
    width: 400px;
    height: 50px;
    background-color: crimson;
}